* {
    padding:0px;
	margin:0px; 
  }
  #slideimage
  {
	margin:auto;
	width:70%; 
  }
  .slide
  {
	width:90%;
	position:relative;
  }
  .slide img 
  {
	margin-top:50px;
	width:100%;
	height:500px;
  }
  .hide 
  {
	display:none;
  }
  .active 
  {
	display:block;
  }
  .preimg
  {
	position:absolute;
	left:170px;
	top:280px;
	font-size:40px;
	color:grey;
  }
  .nextimg
  {
	position:absolute;
	right:260px;
	top:280px;
	font-size:40px;
	color:grey;
  }
  
  /* Media quary */

  @media(max-width:575px)
  {
	.preimg
	{
	  left:28px;
	}
	.nextimg 
	{
	  right:50px;
	}
  }
  @media(min-width:576px)
  {
	.preimg
	{
	  left:65px;
	}
	.nextimg 
	{
	  right:105px;
	}
  }
  @media(min-width:768px)
  {
	.preimg
	{
	  left:95px;
	}
	.nextimg 
	{
	  right:147px;
	}
  }
  @media(min-width:992px)
  {
	.preimg
	{
	  left:135px;
	}
	.nextimg 
	{
	  right:205px;
	}
  }
  @media(min-width:1024px)
  {
	.preimg
	{
	  left:130px;
	}
	.nextimg 
	{
	  right:205px;
	}
  }
  @media(min-width:1280px)
  {
	.preimg
	{
	  left:170px;
	}
	.nextimg 
	{
	  right:260px;
	}
  }
  @media(min-width:1440px)
  {
	.preimg
	{
	  left:195px;
	}
	.nextimg 
	{
	  right:295px;
	}
  }